  /* Global Classes */
  .regular-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h-100vh{
    height: 100vh;
  }
  .mr-0{
    margin-right: 0px;
  }
  .fixed-container {
    height: 100vh;
    overflow-y: scroll;
  }
  .main-container{
    padding: 30px 100px;
    background-color: #F8F9FD;
  }
  .user-greetings {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #1E1E1E;
    text-align: right;
    margin-bottom: 10px;
  }
  .omni-content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .toggle-btns {
    background-color: #ececec;
    border: 1px solid #ececec;
    height: 18px;
    width: 42px;
  }
  .toggle-btns:checked {
    background-color: #2f95dc;
    border: 1px solid #2f95dc;
  }
  .action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*********** Side Menu ***********/
  .sidemenu {
    background-color: #1e1e2d;
    min-height: 100vh !important;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
    padding: 1rem 15px 3rem 20px;
    height: 100vh;
  }
  .sidemenu-logo-wrapper {
    border-bottom: 0.5px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .right-content {
    min-height: 100vh !important;
  }
  .sidemenu-links {
    text-decoration: none;
    color: #949494;
    width: 100%;
  }
  .sidemenu-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }
  .sidemenu-item-nested {
    margin-left: 50px;
    color: white;
  }
  
  .side-menu-icons {
    margin: 12px 14px;
  }
  .active {
    background: #2F95DC;
    border-radius: 14px;
  }
  .active-font {
    font-weight: bold;
    color: #ffffff;
  }
  .sidemenu-links:hover{
    color: #ffffff;
    font-weight: bold;
  }
  .logout {
    text-decoration: none;
    cursor: pointer;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2F95DC;
    color: #ffffff;
    padding: 10px;
    border-radius: 42px;
  }
  .logout:hover {
    color: #ffffff;
  }
  .logout-wrapper {
    bottom: 0;
    width: 20%;
    position: absolute;
  }
  .logout-btn {
    background: none;
    border: none;
    text-align: left;
    padding: 0;
  }
  .logout-btn:hover {
    background: none;
  }
  /* Hamburger Icon */
.hamburger-icon {
    display: none; /* Initially hide on larger screens */
    cursor: pointer;
    padding: 10px 30px;
    background-color: #1e1e2d;
  }
  
  .hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .hamburger-bar.open {
    transform: rotate(-45deg);
    background-color: #2f95dc;
  }
  
  /* Mobile Side Menu */
  .sidemenu.show {
    display: flex;
  }
  .omni-sidemenu{
    width: 200px;
  }
  .trans-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    flex-wrap: wrap;
}
.trans-box-left {
  padding: 16px 26px;
  background: #F1F2F6;
  border-radius: 8px;
  width: 48%;
}
.inner-left {
  display: flex;
  justify-content: space-between;
}
.pending-left {
  font-size: 16px;
  color: #1E1E1E;
  font-weight: 500;
}
.trans-price-left {
  color: #1E1E1E;
  font-size: 38.33px;
  font-style: normal;
  font-weight: 700;
}
.view-student-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-wrapper {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 4%);
  border-radius: 20px;
}
.section-title {
  color: #6b6565;
}
.section-title-value {
  font-size: 20px;
  font-weight: bold;
}
.border-btm{
  border-bottom: 1px solid #ddd;
}
.student-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
  @media screen and (max-width: 950px) {
    .student-wrapper {
      width: 100%;
    }
  } 
   @media screen and (max-width: 900px) {
    .sidemenu {
      display: none; /* Hide regular side menu on smaller screens */
    }
  
    .hamburger-icon {
      display: block; /* Show hamburger icon on smaller screens */
    }
  }
    @media screen and (max-width: 768px) {
      .main-container {
        padding: 30px;
      }
  }